{% extends 'back.html.twig' %}

{% block container %}
    <div class="card-header">
        <h5><a href="{{ path('membre_new') }}"><button class="btn waves-effect waves-light btn-primary btn-outline-primary"><i class="icofont icofont-user-alt-3"></i>liste des membres</button></a></h5>
    </div>
    <div class="card-block table-border-style">
    <div class="table-responsive">
    <table class="table">
        <center>
            <thead>
        <tr>
                <th>historique des inscription aux clubs</th>
        </tr>
            </thead>
        </center>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td><a href="{{ path('membre_show', { 'id': membre.id }) }}"></a>Le membre {{ membre.idUser }} vient d'inscrire son enfant dans le club {{ membre.idclub.nomclub }}</td>
                <td>
                    <ul>
                        <th>
                    <a href="{{ path('mail', { 'id': membre.id }) }}"><button type="button" class="btn btn-success alert-success-msg m-b-10" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'alert-success']);">envoyer mail de confirmation</button></a>
                        </th>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
