{% extends 'base.html.twig' %}

{% block container %}

    <h1><center>Clubs list</center></h1>
    <div class="col-md-12">
    <div class="input-wrap">
        <form method="get" class="sort-form">
            <label for="filter"></label>
            <input name="filter" type="text" id="filter" placeholder="nom club ...">
            <button type="submit" class="color-2">Filter Results</button>
        </form>

   <div class="card-block table-border-style">
       <div class="table-responsive">
         <table align="center" class="table table-styling table-info" style="background-color:rgb(228,255,193)">

            <thead>
            <tr>
                <th><center><font size="5"><font face="Baloo,cursive">Nom du club</font></font></center></th>
                <th><center><font size="5"><font face="Baloo,cursive">Equipement</font></font></center></th>
                <th><center><font size="5"><font face="Baloo,cursive">Participation</font></font></center></th>
            </tr>
            </thead>
            <tbody>

        {% for club in clubs %}
            <tr>

                <td><center>{{ club.nomclub }}</center></td>
                <td><center><a href="{{ path('equipementfront_index', { 'idclub': club.idclub }) }}">voir plus</a></center></td>
                {% if club.cap != 0 %}
                <td><center><a href="{{ path('new2', { 'idclub': club.idclub }) }}" class="btn btn-grd-success">Participer</a></center> </td>
                {% endif %}
                {% if club.cap == 0 %}
                <td><centre> le club est saturé</centre></td>
                {% endif %}
            </tr>
        {% endfor %}

            </tbody>
        </table>
       </div>
   </div>
    </div>
    </div>

   <li align="center">{{ socialButtons()|raw }}</li>


    <div class="navigation text-center" style="margin-top: 20px; margin-bottom:40px ;text-align: center; margin-left: 44%">
    </div>
    <br><br>
    <div class="navigation text-center" align="center">
        {{ knp_pagination_render(clubs) }}
    </div>

{% endblock %}
